{% extends 'shopapp/base.html' %}

{% block title %}
    Confirm delete {{ object.name }}
{% endblock  %}

{% block body %}
    <h1> Вы хотите удалить  {{ object.name }}?</h1>
    <br>
    <div>
        <a href="{% url 'shopapp:products_list'%}">
            Back to product
        </a>
{#    <a href="/shop/products/confirm-delete/" pk = product.pk >Delete product </a>#}
    </div>
    <br>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Delete</button>
        </form>
    </div>

{% endblock%}